.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }

  #rotateImage {
    transition: transform 0.4s ease-in-out;
  }
  
  .rotated {
    transform: rotate(-270deg); /* Change the angle as needed */
  }
  